In [308]:
import pandas as pd
import numpy as np
from sklearn.ensemble import RandomForestClassifier as rf
from sklearn.externals import joblib

In [309]:
titanic_train = pd.read_csv("titanic.csv")    # Read the data

model_directory = '../app'
model_file_name = '%s/titanic.pkl' % model_directory

# fill in missing age and fare values with their medians
titanic_train["Age"] = titanic_train["Age"].fillna(titanic_train["Age"].median())
titanic_train["Fare"] = titanic_train["Fare"].fillna(titanic_train["Fare"].median())
titanic_train["Embarked"].fillna('S', inplace=True)

In [310]:
from sklearn.ensemble import RandomForestClassifier
from sklearn import preprocessing

In [311]:
# Set the seed
np.random.seed(12)

# Initialize label encoder
label_encoder = preprocessing.LabelEncoder()

# Convert some variables to numeric
titanic_train["Sex"] = label_encoder.fit_transform(titanic_train["Sex"])
titanic_train["Embarked"] = label_encoder.fit_transform(titanic_train["Embarked"])

In [312]:
titanic_train.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [313]:
titanic_train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",1,22.0,1,0,A/5 21171,7.2500,NaN,2
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,38.0,1,0,PC 17599,71.2833,C85,0
2,3,1,3,"Heikkinen, Miss. Laina",0,26.0,0,0,STON/O2. 3101282,7.9250,NaN,2
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,35.0,1,0,113803,53.1000,C123,2
4,5,0,3,"Allen, Mr. William Henry",1,35.0,0,0,373450,8.0500,NaN,2

In [314]:
# Initialize the model
rf_model = RandomForestClassifier(n_estimators=100, # Number of trees
                                  max_features=2,    # Num features considered
                                  oob_score=True)    # Use OOB scoring*

features = ["Sex","Pclass","SibSp","Age"]

# Train the model
rf_model.fit(X=titanic_train[features],
             y=titanic_train["Survived"])

print("OOB accuracy: ")
print(rf_model.oob_score_)

OOB accuracy:
0.803591470258

In [315]:
joblib.dump(rf_model, model_file_name)

['../models/test.pkl']

In [316]:
req = {"Sex":0, "Pclass":1, "SibSp":1,"Age":27}

In [317]:
type(req)

dict

In [318]:
req_df = pd.DataFrame([req])

In [319]:
req_df

   Age  Pclass  Sex  SibSp
0   27       1    0      1

In [320]:
clf = joblib.load('test.pkl')

In [321]:
prediction = clf.predict(X = req_df[features])

In [322]:
print(prediction)

[1]